# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build-android
build-apple
build-win10


*.DS_Store
Malperdy/build-apple/Malperdy.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcuserstate
Malperdy/cugl/build-apple/box2d.xcodeproj/xcuserdata/barry.xcuserdatad/xcschemes/xcschememanagement.plist
Malperdy/cugl/build-apple/box2d.xcodeproj/project.pbxproj
